# ----------------------------------------------------------------------------
# Distributed Scheduler and Worker Configuration
# ----------------------------------------------------------------------------
distributed:
  
  # Communication and Security
  comm:
    require-encryption: true
    tls:
      ciphers: null
      ca-file: "/etc/cmsaf-secrets/ca.pem"
      
      scheduler:
        cert: "/etc/cmsaf-secrets/hostcert.pem"
        key: "/etc/cmsaf-secrets/hostcert.pem"
      
      worker:
        cert: "/etc/cmsaf-secrets/hostcert.pem"
        key: "/etc/cmsaf-secrets/hostcert.pem"
      
      client:
        cert: "/etc/cmsaf-secrets/hostcert.pem"
        key: "/etc/cmsaf-secrets/hostcert.pem"