distributed:
  scheduler:
    work-stealing: False
  worker:
    memory:
      target: 0.7  # Data spilling to disk
      spill: 0.8  # Data spilling to disk
      pause: 0.85  # fraction at which we pause worker threads
      terminate: 0.98  # fraction at which we terminate the worker
  diagnostics:
    nvml: False

  version: 2
  
  dashboard:
    link: "/proxy/{port}/status"

  admin:
    pdb-on-error: True
    system-monitor:
      gil:
        enabled: true
    tick:
      limit: 5s # time allowed before triggering a warning
