distributed:
    version: 2

    scheduler:
      idle-timeout: 3600s

    comm:
      require-encryption: True # Whether to require encryption on non-local comms

      tls:
        ciphers: null   # Allowed ciphers, specified as an OpenSSL cipher string.
        ca-file: "/etc/cmsaf-secrets/ca.pem"   # Path to a CA file, in pem format, optional
        scheduler:
          cert: "/etc/cmsaf-secrets/hostcert.pem"    # Path to certificate file for scheduler.
          key: "/etc/cmsaf-secrets/hostcert.pem"     # Path to key file for scheduler.
        worker:
          key: null
          cert: null
        client:
          key: "/etc/cmsaf-secrets/hostcert.pem"
          cert: "/etc/cmsaf-secrets/hostcert.pem"

    # Link is not working (reverting for demo!): /user/{JUPYTERHUB_USER}/proxy/{port}/status
    dashboard:
      link: https://cmsaf-jh.unl.edu/user/{JUPYTERHUB_USER}/proxy/{port}/status

  # uncomment to force new worker pods after 2 hrs
  #  worker:
  #    lifetime:
  #      duration: "2 hours"
  #      stagger: "10 s"
  #      restart: true

    admin:
      tick:
        limit: 5s

    logging:
      distributed: info
      bokeh: critical
      tornado: critical
      tornado.application: error

labextension:
  factory:
    module: 'coffea_casa'
    class: 'CoffeaCasaCluster'
    args: []
    kwargs: {}

    default:
      workers: 1
      adapt:
        minimum: 5
        maximum: 20
    #initial: []
    #- name: "UNL HTCondor cluster"
    #  workers: 1
    #  adapt:
    #    minimum: 5
    #    maximum: 25
