hub:
  config:
    Authenticator:
      admin_users:
      - coffea-casa-dev@cern.ch
    GenericOAuthenticator:
      login_service: CMS SSO
      token_url: https://cms-auth.web.cern.ch/token
      userdata_method: GET
      userdata_params:
        state: state
      userdata_url: https://cms-auth.web.cern.ch/userinfo
      username_key: email
    JupyterHub:
      authenticator_class: oauthenticator.generic.GenericOAuthenticator
  initContainers:
    - name: git-clone-templates
      image: alpine/git
      args:
        - clone
        - --single-branch
        - --branch=master
        - --depth=1
        - --
        - https://github.com/clundst/jh_custom_html
        - /etc/jupyterhub/custom
      securityContext:
        runAsUser: 0
      volumeMounts:
        - name: custom-templates
          mountPath: /etc/jupyterhub/custom
  extraEnv:
    OAUTH2_AUTHORIZE_URL: https://cms-auth.web.cern.ch/authorize
    OAUTH2_TOKEN_URL: https://cms-auth.web.cern.ch/token
    OAUTH_CLIENT_ID:
      valueFrom:
        secretKeyRef:
          name: coffea-casa-secrets
          key: client_id
    OAUTH_CLIENT_SECRET:
      valueFrom:
        secretKeyRef:
          name: coffea-casa-secrets
          key: client_secret
    OAUTH_CALLBACK_URL: https://cmsaf-jh.unl.edu/hub/oauth_callback
    DASK_BASE_DOMAIN: coffea-opendata.casa
  extraVolumeMounts:
  - name: custom-templates
    mountPath: /etc/jupyterhub/custom
  - name: hub-config-d
    mountPath: /usr/local/etc/jupyterhub/auth.py
    subPath: auth.py
  - name: hub-config-d
    mountPath: /usr/local/etc/jupyterhub/jupyterhub_config.d/secret_creation_hook.py
    subPath: secret_creation_hook.py
  extraVolumes:
  - name: custom-templates
    emptyDir: {}
  - name: hub-config-d
    configMap:
      name: hub-config-d
  extraConfig:
    templates: |
      c.JupyterHub.template_paths = ['/etc/jupyterhub/custom/']
  
proxy:
  chp:
    livenessProbe:
      initialDelaySeconds: 30
    readinessProbe:
      periodSeconds: 10
    networkPolicy:
      enabled: false
  extraEnv:
    # explicit notation (the "name" field takes precedence)
    CHP_NAMESPACE:
      name: CHP_NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
  https:
    enabled: true
    hosts:
      - coffea-opendata.casa
    letsencrypt:
      contactEmail: cms-support@cse.unl.edu
  service:
    type: LoadBalancer
    nodePorts:
      http:
      https:
    loadBalancerIP: 129.93.183.32


singleuser:
  networkPolicy:
    enabled: false
  spec:
    securityContext:
      runAsUser: 6440
  uid: 6440
  gid: 11265
  extraLabels:
    jhub_user: '{username}'
  lifecycleHooks:
    postStart:
      exec:
        command: ['bash', '-c', 'mkdir -p /home/cms-jovyan/.condor/tokens.d/ && cp -f /etc/cmsaf-secrets/condor_token /home/cms-jovyan/.condor/tokens.d/condor_token']
  storage:
    homeMountPath: /home/cms-jovyan/
    dynamic:
      storageClass: rook-ceph-block
  image:
    name: daskdev/dask-notebook
    tag: 2021.6.0
    extraEnv:
      XCACHE_HOST: "red-xcache1.unl.edu"
  defaultUrl: "/lab"
  extraEnv:
    SERVICEX_HOST: http://coffea-casa-servicex-app:8000
  profileList:
    - display_name: "Coffea Base Image"
      description: "HATS2021 Coffea-casa image with coffea 0.7.2/dask/condor and cheese"
      kubespawner_override:
        image: coffeateam/coffea-casa:2021.07.13
        imagePullPolicy: Always
        securityContext:
          runAsUser: 6440
          runAsGroup: 11265
          allowPrivilegeEscalation: False
          RunAsNonRoot: true
      default: true
  extraContainers:
  - name: dask-worker
    volumeMounts:
    - mountPath: /etc/cmsaf-secrets
      name: cmsaf-secrets
    image: coffeateam/coffea-casa-analysis:2021.07.13
    securityContext:
      runAsUser: 6440
      runAsGroup: 11265
      runAsNonRoot: True
    resources:
      limits:
        memory: 7Gi
        cpu: 2
    env:
      - name: COFFEA_CASA_SIDECAR
        value: 'True'
      - name: XCACHE_HOST
        value: 'red-xcache1.unl.edu'
      - name: XRD_PLUGINCONFDIR
        value: '/opt/conda/etc/xrootd/client.plugins.d/'
      - name: XRD_PLUGIN
        value: '/opt/conda/lib/libXrdClAuthzPlugin.so'
      - name: BEARER_TOKEN_FILE
        value: '/etc/cmsaf-secrets/xcache_token'
      - name: WORKER_ID
        valueFrom:
          fieldRef:
            fieldPath: metadata.uid
    command: ["/bin/bash", "-c", "cd /home/cms-jovyan; supervisord --nodaemon -c /etc/supervisor/supervisord.conf"]

scheduling:
  userScheduler:
    enabled: false
