name: Push tag of docker images

on:
  push:
    tags:
      - "*"
    paths:
      - docker/**
    branches:
      - master
  workflow_dispatch:

env:
  PROJECT: 'coffea-casa'
  GITHUB_ACTIONS: 'true'
  REGISTRY: 'hub.opensciencegrid.org'

jobs:
  matrix-build:
    strategy:
      fail-fast: false
      matrix:
        image: [cc-base-ubuntu, cc-analysis-ubuntu, cc-base-centos7, cc-analysis-centos7]
        # Keep this line in sync with gh actions @ coffea-dask repo
        # python: [3.8, 3.9, '3.10']
        #exclude:
        #  - image: cc7
        #    python: 3.8           
    name: ${{ matrix.image }}
    runs-on: ubuntu-latest
    steps:
      - name: Generate tags
        id: tags
        env:
          image: ${{ env.REGISTRY }}/coffea-casa/${{ matrix.image }}
          #python: ${{ matrix.python }}
          release: ${{ github.ref_name }}
          stable: ${{ startsWith(github.ref, 'refs/tags') }}
        run: |
          if [ "$stable" == "true" ]; then
            tag="${image}:${release}"
            tags=$tag
            releasetag=${release}
          else
            tag="${image}:development"
            tags=$tag
            releasetag="development"
          fi

          echo "::set-output name=tags::${tags}"
          echo "::set-output name=tag::${tag}"
          echo "::set-output name=releasetag::${releasetag}"
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: latest
          driver-opts: network=host
      - name: Login to Harbor Hub
        if: success() && github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: hub.opensciencegrid.org
          username: ${{ secrets.HARBOR_USER }}
          password: ${{ secrets.HARBOR_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v3.0.0
        with:
          context: docker/
          file: docker/Dockerfile.${{ matrix.image }}
          push: ${{  github.event_name == 'push' }}
          platforms: linux/amd64
          tags: ${{ steps.tags.outputs.tags }}
          build-args: |
            TAG=${{ steps.tags.outputs.releasetag }}
            PROJECT=${{ env.PROJECT }} 
            GITHUB_ACTIONS=${{ env.GITHUB_ACTIONS }}
            REGISTRY=${{ env.REGISTRY }}
