name: Push tag of docker images

on:
  release:
    types:
      - published
  push:
    paths:
      - docker/**
    branches:
      - master
  workflow_dispatch:

env:
  PROJECT: 'coffea-casa'
  GITHUB_ACTIONS: 'true'
  REGISTRY: 'hub.opensciencegrid.org'

jobs:
  matrix-build:
    strategy:
      fail-fast: false
      matrix:
        image: [cc-dask-alma9, cc-analysis-alma9, cc-dask-combine-alma9, cc-analysis-combine-alma9]        
    name: ${{ matrix.image }}
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Identify event type
        run: |
          echo "Triggered by: ${{ github.event_name }}"

      - name: Generate tags
        id: tags
        env:
          image: ${{ env.REGISTRY }}/coffea-casa/${{ matrix.image }}
          release: ${{ github.event.release.tag_name }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
        run: |
          if [ "${GITHUB_EVENT_NAME}" == "release" ]; then
            tag="${image}:${release}"
            tags=$tag
            releasetag=$release
          else
            tag="${image}:development"
            tags=$tag
            releasetag="development"
          fi
          echo "tag=$tag"
          echo "tags=$tags"
          echo "releasetag=$releasetag"

          # Set outputs using the environment file
          echo "tags=$tags" >> "$GITHUB_OUTPUT"
          echo "releasetag=$releasetag" >> "$GITHUB_OUTPUT"

      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: latest
          driver-opts: network=host
      - name: Login to Harbor Hub
        if: success() && github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: hub.opensciencegrid.org
          username: ${{ secrets.HARBOR_USER }}
          password: ${{ secrets.HARBOR_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v3.0.0
        with:
          context: docker/
          file: docker/Dockerfile.${{ matrix.image }}
          platforms: linux/amd64
          tags: ${{ steps.tags.outputs.tags }}
          push: true
          build-args: |
            TAG=${{ steps.tags.outputs.releasetag }}
            PROJECT=${{ env.PROJECT }} 
            GITHUB_ACTIONS=${{ env.GITHUB_ACTIONS }}
            REGISTRY=${{ env.REGISTRY }}
