name: Deploy to PyPI

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  dist:
    name: Distribution build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'

      - uses: hynek/build-and-inspect-python-package@v1

  publish:
    name: Publish
    needs: [dist]
    environment:
      name: pypi
      url: https://pypi.org/project/coffea-casa/
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: Packages
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
