name: CI/CD

on:
  push:
    paths:
      - 'coffea_casa/**'
    branches:
      - master
  pull_request:
    paths:
      - 'coffea_casa/**'
    branches:
      - master

jobs:
  linter:
    runs-on: ubuntu-latest
    name: Lint Python code
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install flake8
        run: python -m pip install --upgrade pip flake8
      - name: Run flake8
        run: flake8 --ignore=E501,E303,E301,W503,W292 coffea_casa

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    name: Test coffea_casa - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -e .
          python -m pip install pytest pytest-cov
      - name: Run tests with coverage
        run: |
          pytest 
      #   pytest --cov --cov-branch --cov-report=xml
      #- name: Upload coverage reports to Codecov
      #    uses: codecov/codecov-action@v5
      #    with:
      #      token: ${{ secrets.CODECOV_TOKEN }}
